*,*::after,*::before{
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
}

/*Login and Registration Page styling*/
.container{
  width: 40%;
  min-height: 200px;
  max-height: auto;
  margin: auto;
  margin-top: 20vh;
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background: linear-gradient(to top right, indigo, rgb(192, 189, 189));
}

h1,h2{
  color: #fff;
}

.container form{
  width: 60%;
  min-width: 240px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.container form input, textarea{
  width: 90%;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: 0;
  color: black;
}

.container button{
  border: none;
  background: indigo;
  color: #fff;
  font-size: large;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  width: 120px;
  cursor: pointer;
}

.container .prev_next_btn{
  width: 90%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.container p{
  color: #fff;
}
.container  p > a,form .errors{
  color: rgb(77, 30, 30);
}

/*Home Page styling*/
.container select{
  width: 50%;
  height: 2rem;
}

select, option{
  color: black;
}

select:hover{
  cursor: pointer;
}

select>option:hover{
  cursor: pointer;
}

/*Quiz Page*/
.container .topNav{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topNav button{
  font-size: small !important;
}

.container .question{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.question p{
  font-size: large;
}
.container .answer{
  margin-top: 1rem;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
  gap: 1rem;
}

.answer .option{
  color: indigo;
  background: #fff;
}
.answer .success{
  background: rgb(79, 161, 79);
  color: #fff;
}
.answer .wrong{
  background: rgb(187, 81, 81);
  color: #fff;
}
.answer .disable{
  cursor: not-allowed;
  pointer-events: none;
}

/*ADD QUIZ PAGE*/
.container .addQuizCode{
  border: 1px solid red;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.container .addQuizForm{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addQuizForm .question{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
}

.question textarea{
  width: 100%;
  height: 100%;
}

.addQuizForm .QuestionOptions{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.addQuizForm .questionAnswer{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*-------------------------------- MEDIA SCREEN 1024px ------------------------------------------*/
@media screen and (max-width: 1024px) {
  .container{
    width: 60%;
  }

  
}

/*-------------------------------- MEDIA SCREEN 768px ------------------------------------------*/
@media screen and (max-width: 768px) {
  .container{
    width: 75%;
  }

  /*Home Page styling*/
  .container select{
    width: 50%;
    height: 2rem;
  }

}



/*-------------------------------- MEDIA SCREEN 600px ------------------------------------------*/
@media screen and (max-width: 600px) {
  .container{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh !important;
  }

  /*Home Page styling*/
  .home_page{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  h1{
    font-size: xx-large;
  }

  .container select{
    height: 1.5rem;
    width: 60%;
  }

  /*-------------- LOGIN PAGE ---------------------------*/
  .container .login{
    padding-top: 2rem;
    gap: 0.7rem;
  }

  /*-------------Quiz Page-----------------*/
  .quiz_page{
    padding-top: 1rem;
  }

  .quiz_page .question p{
    font-size: medium;
  }

  /*----------------- Register Page ---------------------*/
.register_page{
  width: 100%;
  height: auto;
}

.register{
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
}

/*-----------------Add quiz page ------------------------*/
.add_quiz{
  height: auto;
  padding-top: 2rem;
}

}

/*-------------------------------- MEDIA SCREEN 320px ------------------------------------------*/
@media screen and (max-width: 320px) {
  .container{
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh !important;
  }

  /*Home Page styling*/
  .home_page{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .home_page h1{
    font-size: larger;
  }

  .container select{
    height: 1.5rem;
    width: 60%;
  }

  /*-------------- LOGIN PAGE ---------------------------*/
  .container .login{
    padding-top: 2rem;
    gap: 0.7rem;
  }
  
  .login .reg_page{
    font-size: small;
  }

  /*-------------Quiz Page-----------------*/
  .quiz_page{
    padding-top: 1rem;
  }

  .quiz_page .question p{
    font-size: medium;
  }

  /*----------------- Register Page ---------------------*/
.register_page{
  width: 100%;
  height: auto;
}

.register{
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
}

.register p{
  font-size: small;
}

.register .Lgn_page{
  font-size: small;
}

/*-----------------Add quiz page ------------------------*/
.add_quiz{
  height: auto;
  padding-top: 2rem;
}

}

/*-------------------------------- MEDIA SCREEN 240px ------------------------------------------*/
@media screen and (max-width: 240px) {
  .container{
    margin: 0;
    padding: 0;
    width: 100% !important;
    min-height: 100vh !important;
  }

  /*Home Page styling*/
  .home_page{
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .home_page h1{
    font-size: larger;
  }

  .container select{
    height: 1.5rem;
    width: 80%;
  }

  /*-------------- LOGIN PAGE ---------------------------*/
  .container .login{
    padding-top: 2rem;
    gap: 0.7rem;
  }
  
  .login .reg_page{
    font-size: small;
  }

  /*-------------Quiz Page-----------------*/
  .quiz_page{
    padding-top: 1rem;
    padding: 1px;
  }

  .quiz_page .question p{
    font-size: small;
  }

  /*----------------- Register Page ---------------------*/
.register_page{
  width: 100%;
  height: auto;
}

.register{
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
}

.register p{
  font-size: small;
}

.register .Lgn_page{
  font-size: small;
}

/*-----------------Add quiz page ------------------------*/
.add_quiz{
  height: auto;
  padding-top: 2rem;
}


.container .answer{
  width: 100%;
}

}